.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #d8d8d8;
  margin: auto;
}

.product {
  border-radius: 0.3rem;
  background-color: #212529;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.button {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.5rem;
}

.button:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 650px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product {
    margin-right: 1rem;
  }
}
