.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d8d8d8;
}

.title {
  margin-top: 8rem;
}
.cartWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 100vh; */
}

.cartTableContainer {
  width: 66.67%;
  padding-left: 2rem;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid #f35815;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableHead {
  text-align: left;
  font-weight: bold;
}

.tableRow {
  background-color: #000000;
  text-align: left;
  font-weight: bold;
}

.tableHeadData {
  padding: 12px 15px;
}

.tableBodyData {
  padding: 1rem;
}

.tableBodyRow {
  /* border-bottom: 1px solid #dddddd; */
}

.tableBodyRow:nth-of-type(even) {
  background-color: #000000;
  color: #d8d8d8;
}

.checkoutCard {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; */
}

.checkoutBtn {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.5rem;
}

.checkoutBtn:hover {
  transform: scale(1.05);
}

.paymentButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.checkoutTotal {
  font-weight: bold;
  font-size: 1.2rem;
}

.extracont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .cartWrapper {
    flex-direction: column;
  }

  .cartTableContainer {
    width: 80%;
    padding-left: 0;
  }
  .checkoutCard {
    border: 1px solid #f35815;
    margin-top: 2rem;
    width: 70%;
    height: 30rem;
  }
  .tableHeadData {
    font-size: 0.4rem;
  }

  .tableBodyData {
    font-size: 0.4rem;
    padding: 0.7rem;
  }
}
