.container {
  width: 100%;
  /* background-color: #111111; */
  color: #d8d8d8;
  margin-top: 12rem;
  height: 55vh;
  border-top: 1px solid #d8d8d8;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 4rem;
  margin-top: 3rem;
}

.footerText {
  margin-left: 1rem;
}

.copyright {
  text-align: center;
  margin-top: 4rem;
}

.newsletter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.frameworks {
  color: #f35815;
}

.footerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.newsletterForm {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 1rem;
}

.line {
  margin-top: 3rem;
}

.newsletterInput {
  width: 17rem;
  height: 3rem;
  border: 1px solid #ecb390;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-right: 1rem;
  outline: none;
  border: none;
}
.newsletterButton {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1.5rem;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  margin-right: 1rem;
}
@media screen and (max-width: 650px) {
  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletterInput {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .copyright {
    font-size: 0.6rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }
}
