.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  /* margin: auto; */
}

.heroTitle {
  font-size: 4rem;
  font-weight: bold;
  color: #d8d8d8;
  margin-bottom: 1rem;
  text-align: center;
}

.fudo {
  background-image: linear-gradient(
    135deg,
    #0e73cc 1.93%,
    #624bbb 14.86%,
    #ff455d 48.09%,
    #f35815 77.82%,
    #f2b600 97.3%
  );
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.heroParagraph {
  font-size: 1.5rem;
  color: #d8d8d8;
  margin-bottom: 1rem;
  text-align: center;
}

.heroButton {
  background-color: #f35815;
  border: none;
  color: #fff;
  padding: 0.7rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 0.3rem;
  transition: all 0.25s ease-out;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .heroTitle {
    font-size: 2rem;
  }
  .heroParagraph {
    font-size: 1rem;
  }
}

.tabContent {
  color: #d8d8d8;
}

.tab {
  background-color: transparent;
  outline: none;
  border: none;
  color: #d8d8d8;
  width: 12rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.activeTab {
  background-color: #343a40;
  outline: none;
  border: none;
  color: #d8d8d8;
  width: 12rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 15rem;
}

.mainHeader {
  color: #d8d8d8;
}

.tabsContainer {
  background-color: #212529;
  width: 50%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 112rem;
  position: relative;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200vh;
  /* background-color: white; */
  margin-top: 15rem;
}
