.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  padding: 0;
  margin: 0;
  background-color: transparent;
  padding: 0.5rem 2rem;
  position: fixed;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoTitle {
  color: #d8d8d8;
  margin-left: 1rem;
}

.contents {
  display: flex;
  justify-content: space-between;
  color: #d8d8d8;
}

.contentList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.contentItem {
  margin-right: 1.5rem;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cartQuantity {
  position: absolute;
  background-color: #fff;
  color: #000000;
  top: 0.3rem;
  right: -0.05rem;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
}

.cartIcon {
  font-size: 1.8rem;
}

.hamburger {
  display: none;
}
.mobileMenu {
  display: none;
}

/* media queries */

@media screen and (max-width: 650px) {
  .contents {
    display: none;
  }

  .hamburger {
    display: flex;
    font-size: 1.8rem;
    color: #d8d8d8;
    cursor: pointer;
  }
  .mobileMenu {
    position: fixed;
    height: 80vh;
    width: 50vw;
    background-color: #000000;
    top: 4rem;
    margin: 0;
    padding: 0;
    color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
  }

  .menuItem {
    margin-bottom: 4rem;
  }

  .cartMobile {
    position: relative;
  }

  .cartQuantityMobile {
    position: absolute;
    background-color: #fff;
    color: #000000;
    top: -0.2rem;
    right: -0.1rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.3rem;
  }
}
