.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: transparent;
  padding: 0.5rem 2rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoTitle {
  color: white;
}

.contents {
  display: flex;
  justify-content: space-between;
  color: white;
}

.contentList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.contentItem {
  margin-right: 1.5rem;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.cartQuantity {
  position: absolute;
  /* background-color: #d8e9a8; */
  color: #ff4c29;
  top: 0.3rem;
  right: -0.05rem;
  font-size: 0.8rem;
  padding: 0.1rem 0.2rem;
}

.cartIcon {
  font-size: 1.8rem;
}
